# --- CONFIGURAÇÕES DO RELÓGIO DE PONTO HENRY (V1) ---
IP_V1=192.168.X.XXX
USUARIO_V1=admin
SENHA_V1=sua_senha_aqui

# --- CONFIGURAÇÕES DE EXECUÇÃO DO PLAYWRIGHT ---
HEADLESS_MODE=False
SLOW_MO_MS=500